#alert-password-change-error
  ul
    li(ng-repeat='(field, error) in errors')
      | {{ field }}: {{ error[0] }}

  div
    .text-right
      button.btn.btn-default.btn-md(ng-click='$hide()') Close
