h3 Ng Token Auth Test Terms and Conditions ("Agreement")
p This Agreement was last modified on April 06, 2014.

p
  | Please read these Terms and Conditions ("Agreement", "Terms and
  | Conditions") carefully before using http://ng-token-auth.github.com ("the Site")
  | operated by Ng Token Auth Test ("us", "we", or "our"). This Agreement sets forth
  | the legally binding terms and conditions for your use of the Site at
  | http://ng-token-auth.github.com

p
  | By accessing or using the Site in any manner, including, but not limited
  | to, visiting or browsing the Site or contributing content or other
  | materials to the Site, you agree to be bound by these Terms and
  | Conditions. Capitalized terms are defined in this Agreement.

p
  strong Intellectual Property
  br
  | The Site and its original content, features and functionality are owned
  | by Ng Token Auth Test and are protected by international copyright, trademark,
  | patent, trade secret and other intellectual property or proprietary
  | rights laws.

p
  strong Termination
  br
  | We may terminate your access to the Site, without cause or notice, which
  | may result in the forfeiture and destruction of all information
  | associated with you. All provisions of this Agreement that by their
  | nature should survive termination shall survive termination, including,
  | without limitation, ownership provisions, warranty disclaimers,
  | indemnity, and limitations of liability.

p
  strong Links To Other Sites
  br
  | Our Site may contain links to third-party sites that are not owned or
  | controlled by Ng Token Auth Test.

p
  | Ng Token Auth Test has no control over, and assumes no responsibility for, the
  | content, privacy policies, or practices of any third party sites or
  | services. We strongly advise you to read the terms and conditions and
  | privacy policy of any third-party site that you visit.


p
  strong Governing Law
  br
  | This Agreement (and any further rules, polices, or guidelines
  | incorporated by reference) shall be governed and construed in accordance
  | with the laws of Illinois, United States, without giving effect to any
  | principles of conflicts of law.

p
  strong Changes To This Agreement
  br
  | We reserve the right, at our sole discretion, to modify or replace these
  | Terms and Conditions by posting the updated terms on the Site. Your
  | continued use of the Site after any such changes constitutes your
  | acceptance of the new Terms and Conditions.

p
  | Please review this Agreement periodically for changes. If you do not
  | agree to any of this Agreement or any changes to this Agreement, do not
  | use, access or continue to access the Site or discontinue any use of the
  | Site immediately.

p
  strong Contact Us
  br
  | If you have any questions about this Agreement, please contact us.
